

/* .......................................................................... */
/* Header.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header1 {display: flex;
align-items: center;
justify-content:space-evenly;
height: 50px;
background-color: #222222;
color: darkturquoise;
}

.head-sub1{width: 800px;}
.header1 select{color: darkturquoise;
background-color: transparent;
border: 1px solid darkturquoise;}




/* ------------------------ Customer_user Navigation bar ---------------------------- */
 .nav-container {
   height: 60px;
   display: flex;
   align-items: center;
   justify-content: space-around;
}
.nav-container ul li{
    display: inline;
    margin: 15px;
    color: #222222;
    
}
.head-ul{color: #222222;position: relative;
    list-style: none;
    
text-decoration: none;font-weight: 500;}

.head-ul:hover::after{
    content: "";
    width: 45%;
    height: 2px;
    background: #088178;position: absolute;
    bottom: -4px;left:5px ;
}
.nav-container li{font-weight: 400;}
.nav-container span{font-weight: 600;
    font-size: 1.5em;
}


.search-bar{border: 1.5px solid darkturquoise;
display: flex;
align-items: center;text-align: center;
justify-content: center;
height: 25px;width: 200px;
}

.search-icon{font-size: 16px;}
.search-bar input{border: none;
outline: none;}


.label{display: none;}





/* ..............................footer......................... */

.container{display: flex;
    border:  1px solid darkturquoise;
align-items: center;
justify-content: space-between;
    padding: 30px;
    background-color: black;
    color: #eff3f5;
    
    }
   
    .sub-content ul li {text-decoration: none;
    list-style: none;
    }
    .sub-content li{
        
     font-size: 16px;
     margin: 8px 0px;
    }
    .sub-content li:hover{color: rgb(149, 155, 159);}
    
    .sub-content h3{
        font-size: 24px;
        margin: 10px 0px;
       }
       
    
    
    /* ............................................................... */
   .footer-end{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
   }
   #navid{display: none;}
   /* ................header footer media queries................................................. */
   #navid:checked~.nav-container ul li{
    display: block;
}
   @media (max-width:1024px){
    .nav-container ul li{
        display: none;
        margin: 5px;
        color: #222222;
        
    }
    .nav-container ul{
        background-color: #050505;
         margin-top: 290px;
         margin-left: 70px;
         
         font-size: 25px;

    }

    .label{display: block;
    font-size: 35px;}

   }
   /* ..... */
   @media (max-width:768px){


    .search-bar {
        border: 1.5px solid darkturquoise;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content:start;
        height: 25px;
        width: 200px;
        margin-left: -400px;
    }








   }
   /* ... */
   @media (max-width:431px){
    .search-bar {
        border: 1.5px solid darkturquoise;
        display: none;
      
    }
    .nav-container span{font-size: 18px;
  
}
.head-icon{margin-left: -100px;
    display: flex;
    align-items: center;
    justify-content: 
    start;
    margin-right: 100px;

}
.iconh{margin: 15px;}

   }