*{
    margin: 0;
    padding: 0;
}
.home_container
{
    width: 100%;
    height: 100%;
    background-color: whites;
}
@media (max-width: 768px) {
    .home_container {
        height: 800px; 
        background-color: lightgrey; 
    }
}

@media (max-width: 480px) {
    .home_container {
        height: 600px; 
        background-color: grey; 
    }
}
.banner_slide
{
    width: 100%;
    height: 400px;
    margin: auto;
    margin-bottom: 0;
}
/* Media query for smaller desktops */
@media (max-width: 1439px) {
    .banner_slide {
        height: 400px;
    }
}

/* Media query for tablets */
@media (max-width: 1023px) {
    .banner_slide {
        height: 400px;
    }
}

/* Media query for mobile devices */
@media (max-width: 767px) {
    .banner_slide {
        height: 400px;
    }
}
.slider
{
    width: 100%;
    height: 80%;
    background-image: url(../../images/ss1.webp);
    background-size: cover;
    animation-duration: 10s;
    animation: slide 40s infinite ;
    margin-top: 5px;
    animation-direction: alternate-reverse;
   
}
@keyframes slide 
{
    0% 
    {background-image: url(../../images/ss2.webp);}
    25% 
    {background-image: url(../../images/ss3.webp);}
    50%
    {background-image: url(../../images/ss4.webp);}
    75% 
    {background-image: url(../../images/ss5.webp);}
    100% 
    {background-image: url(../../images/ss6.webp);}
    
}
@media (max-width: 767px) {
    .slider {
        height: 60%; 
        animation-duration: 3s;  
        margin-top: 10px; 
    }
}

/* Tablet devices (768px to 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
    .slider {
        height: 70%; 
        animation-duration: 3s; 
        margin-top: 8px; 
    }
}

/* Laptop devices (1025px to 1440px) */
@media (min-width: 1025px) and (max-width: 1440px) {
    .slider {
        height: 80%; 
        animation-duration: 3s; 
        margin-top: 5px; 
    }
}
.Exclusively
{
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    /* background-color: rgb(156, 153, 153); */
    padding-top: 10px;
    margin-bottom: 20px;
  
}

.Exclusively_div_1
{
    width: 120px;
    height: 100px;
    background-image: url(../../images/Exclusively/e1.webp);
    background-size: cover;
    align-items: baseline;
}


.Exclusively_div_2
{
    width: 120px;
    height: 100px;
    background-image: url(../../images/Exclusively/e2.webp);
    background-size: cover;
}
.Exclusively_div_3
{
    width: 120px;
    height: 100px;
    background-image: url(../../images/Exclusively/e3.webp);
    background-size: cover;
}
.Exclusively_div_4
{
    width: 120px;
    height: 100px;
    background-image: url(../../images/Exclusively/e4.webp);
    background-size: cover;
}
.Exclusively_div_5
{
    width: 120px;
    height: 100px;
    background-image: url(../../images/Exclusively/e5.webp);
    background-size: cover;
}
.Exclusively_div_6
{
    width: 120px;
    height: 100px;
    background-image: url(../../images/Exclusively/e6.webp);
    background-size: cover;
}
.Exclusively_div_7
{
    width: 120px;
    height: 100px;
    background-image: url(../../images/Exclusively/e7.webp);
    background-size: cover;
}
#offer-prize
{
    width: 100%;
    height: 280px;
    /* margin-top: 5px; */
    display: flex;
    justify-content: space-evenly;
    background-color: white;
}
#box1
{
    width: 250px;
    height: 250px;
    background-image: url(../../images/h1.webp);
    background-size: cover;
    /* margin-top: 5px;
    margin-left: 80px; */
    border: 5px solid black;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    border-radius: 10%;
    float: left;
    
}
#box1:hover
{
   
    transform: scale(1.05);
    
}
#box2
{
    width: 250px;
    height: 250px;
    background-image: url(../../images/lap1.webp);
    background-size: cover;
    margin-top: 5px;
    border: 5px solid black;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    border-radius: 10%;
    float: left;
    /* margin-left: 65px;
    margin-right: 65px; */

}
#box2:hover
{
   
    transform: scale(1.05);
    
}
#box3
{
    width: 250px;
    height: 250px;
    background-image: url(../../images/h2.webp);
    background-size: cover;
    margin-top: 5px;
    border: 5px solid black;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    border-radius: 10%;
    float: left;
    /* margin-right: 65px; */
}
#box3:hover
{
   
    transform: scale(1.05);
    
}
#box4
{
    width: 250px;
    height: 250px;
    background-image: url(../../images/tap1.webp);
    background-size: cover;
    margin-top: 5px;
    border: 5px solid black;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    border-radius: 10%;
    float: left;
    /* margin-right: 65px; */
   
}
#box4:hover
{
   
    transform: scale(1.05);
    
}
#box5
{
    width: 250px;
    height: 250px;
    background-image: url(../../images/wash1.webp);
    background-size: cover;
    margin-top: 5px;
    color: white;
    border: 5px solid black;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    border-radius: 10%;
    float: left;
    
   
}
#box5:hover
{
   
    transform: scale(1.05);
    
}



.Home_h6

{
    font-size: 20px;
    padding: 10px;
    color: white;
    margin: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
    /* margin-top: 160px; */
}


.home_container h1

{
    font-size: 30px;
    font-weight: bold;
    color: black;
    margin-top: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin-bottom: 20px;
}
.small_banner
{
    width: 100%;
    height: 370px;
    display: flex;
    margin: auto;
    margin-top: 10px;
    /* background-color: aquamarine; */
    
}
.leatest_pro_1
{
    width: 48%;
    height: 360px;
    background-image: url(../../images/bb2.webp);
    background-size: cover;
    border-radius: 10px;
    margin-left: 5px;
}
.leatest_pro_1:hover
{
    transform: scale(1.02);
}
.leatest_pro_2
{
    width: 48%;
    height: 360px;
    background-image: url(../../images/bb3.webp);
    background-size: cover;
    border-radius: 10px;
    margin-left: 20px;
}
.leatest_pro_2:hover
{
    transform: scale(1.02);
}
.deals
{
    width: 100%;
    height: 400px;
    display: flex;
    padding-left: 10px;
    justify-content: space-evenly;
    margin-top: 5px;
}
.deals_div_1
{
    width: 280px;
    height: 380px;
    background-image: url(../../images/d1.webp);
    background-size: cover;
    border-radius: 10px;
}
.deals_div_1:hover
{
    transform: scale(1.02);
}
.deals_div_2
{
    width: 280px;
    height: 380px;
    background-image: url(../../images/d2.webp);
    background-size: cover;
    border-radius: 10px;
}
.deals_div_2:hover
{
    transform: scale(1.02);
}
.deals_div_3
{
    width: 280px;
    height: 380px;
    background-image: url(../../images/d3.webp);
    background-size: cover;
    border-radius: 10px;
}
.deals_div_3:hover
{
    transform: scale(1.02);
}
.deals_div_4
{
    width: 280px;
    height: 380px;
    background-image: url(../../images/d4.webp);
    background-size: cover;
    border-radius: 10px;
}
.deals_div_3:hover
{
    transform: scale(1.02);
}
#banner2

{
        width: 100%;
        height: 300px;
        background-image: url(../../images/10021.jpg);
        margin: auto;
        background-size: cover;
        margin-top: 10px;
}
.tv_banner
{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}
.tv_div_1
{
    width: 320px;
    height: 380px;
    background-image: url(../../images/tv1.webp);
    background-size: cover;
}
.tv_div_1:hover
{
    transform: scale(1.02);
}
.tv_div_2
{
    width: 320px;
    height: 380px;
    background-image: url(../../images/tv2.webp);
    background-size: cover;
}
.tv_div_2:hover
{
    transform: scale(1.02);
}
.tv_div_3
{
    width: 320px;
    height: 380px;
    background-image: url(../../images/tv3.webp);
    background-size: cover;
}
.tv_div_3:hover
{
    transform: scale(1.02);
}
.tv_div_4
{
    width: 300px;
    height: 380px;
    background-image: url(../../images/tv4.webp);
    background-size: cover;
}
.tv_div_4:hover
{
    transform: scale(1.02);
}

.brand_logo
{
    width: 100%;
    height: 180px;
    display: flex;
    margin: auto;
    
    justify-content: space-evenly;
}
.logo_1
{
    width: 200px;
    height: 120px;
    background-image: url(../../images/brand_logo/b1.webp);
    background-size: cover;
    border-radius: 10px;
    margin-right: 20px;
}
.logo_2
{
    width: 200px;
    height: 120px;
    background-image: url(../../images/brand_logo/b2.webp);
    background-size: cover;
    border-radius: 10px;
    margin-right: 20px;
}
.logo_3
{
    width: 200px;
    height: 120px;
    background-image: url(../../images/brand_logo/b3.webp);
    background-size: cover;
    border-radius: 10px;
    margin-right: 20px;

}
.logo_4
{
    width: 200px;
    height: 120px;
    background-image: url(../../images/brand_logo/b4.webp);
    background-size: cover;
    border-radius: 10px;
    margin-right: 20px;
}
.logo_5
{
    width: 200px;
    height: 120px;
    background-image: url(../../images/brand_logo/b5.webp);
    background-size: cover;
    border-radius: 10px;
    margin-right: 20px;
}
.logo_6
{
    width: 200px;
    height: 120px;
    background-image: url(../../images/brand_logo/b6.webp);
    background-size: cover;
    border-radius: 10px;
    margin-right: 20px;
}
.logo_7
{
    width: 200px;
    height: 120px;
    background-image: url(../../images/brand_logo/b7.webp);
    background-size: cover;
    border-radius: 10px;
    margin-right: 20px;
}
.logo_8
{
    width: 200px;
    height: 120px;
    background-image: url(../../images/brand_logo/b8.webp);
    background-size: cover;
    border-radius: 10px;
    margin-right: 20px;
}
