*{
    margin: 0;
    padding: 0;
}
.gallery
{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}
.content2
{
    width: 20%;
    margin: 15px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    padding: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    transition: .4s;
    background-color: #f2f2f2;
}
.content2:hover
{
box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
/* transform: translate(0px, -8px); */
}
.content2 img
{
    width: 200px;
    height: 200px;
    text-align: center;
    margin: auto;
    display: block;

}
.p1
{
    text-align: center;
    color: grey;
    padding-top: 0px;

}
.content2 h5{
    font-size: 26px;
    text-align: center;
    color: black;
    margin: 0;

}
.content2 ul
{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0;
}
.content2 li
{
    padding-top: 5px;
}
.content2 .fa
{
    font-size: 26px;
    transition: .4s;
    margin: 3px;
   
}
.content2 .fa:hover
{
    
    transition: .6s;
}
.content2 .fa-star
{
   color: gold;
}

.content2 button
{
    text-align: center;
    font-size: 24px;
    color: #fff;
    width: 100%;
    padding: 15px;
    border: 0;
    outline: none;
    cursor: pointer;
    margin-top: 5px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.buy
{
    background-color: black;
    /* background-image: url(../../images/wash3.webp); */
}

